/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file. 
 */
/**General**/
#adminmenu #toplevel_page_speedguard div.wp-menu-image {background-size: 18px auto;}
 
#tests-list-meta-box .loading {background-image: url(../images/loading.gif); height: 18px; width: 18px;}
#tests-list-meta-box .column-guarded_page_title{   min-width:250px;}
#tests-list-meta-box .column-load_time, #tests-list-meta-box .column-report_link, #tests-list-meta-box .column-report_date{text-align: center; width:90px; vertical-align: middle; }
#tests-list-meta-box tbody .column-report_date{ text-align: center; font-size: 0.8em;}
#tests-list-meta-box .manage-column {font-size: 0.8em;}
#tests-list-meta-box p.search-box {display: none;}

/** Results Page**/
.toplevel_page_speedguard_tests .page-title-action {display:none;}
.toplevel_page_speedguard_tests #speedguard_add_url {width:100%;} 
.toplevel_page_speedguard_tests #speedguard_add_url #speedguard_new_url{width:80%; outline: 5px solid transparent;}
.toplevel_page_speedguard_tests .speedguard-results .button {display:none;}
.toplevel_page_speedguard_tests .autocomplete-suggestions { text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;}
.toplevel_page_speedguard_tests .autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.toplevel_page_speedguard_tests .autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }

#speed-score-legend-meta-box table td {padding: 1.2em 0.5em; min-width: 80px; border:0px;}
#speed-score-legend-meta-box .speedguard-score {font-size: 2em; margin-left:1em;}


.toplevel_page_speedguard_tests #tests-list-meta-box #location, .toplevel_page_speedguard_tests #tests-list-meta-box .column-location{display: none;}
.toplevel_page_speedguard_tests #tests-list-meta-box #connection, .toplevel_page_speedguard_tests #tests-list-meta-box .column-connection{display: none;}

/** Settings Page**/
#api-meta-box table {display: inline-block;    max-width: 500px;}
#api-meta-box table td, #settings-meta-box table td{border:0;}
#api-meta-box #submit { margin-top: 1.6em; }
#api-meta-box #api-instructions{margin-left:220px;}
#settings-meta-box #submit{ margin:1em 0 3em  320px ; }
#settings-meta-box .form-table th {width: 300px;}
#settings-meta-box #speedguard_options[check_recurrence], #settings-meta-box #speedguard_options[critical_load_time] {max-width: 30px;text-align: center;}
#settings-meta-box input[type="text"].numbers {max-width: 40px;text-align: center;}
#settings-meta-box #speedguard_options[type="email_me_at"]{max-width: 70px;} 
#settings-meta-box td label{line-height:2.8;}
#settings-meta-box .note {font-size:0.8em; font-style:italic;} 

/** Widgets**/
.no-guarded-pages #speedguard-tips-meta-box {display:none;} 
.no-guarded-pages #speedguard-speedresults-meta-box {display:none;} 
.no-guarded-pages #speedguard_dashboard_widget {display:none;} 
.no-guarded-pages #speedguard-site-speed-score {display:none;}  


#speedguard-tips-meta-box{ width: 280px;}
#speedguard-tips-meta-box ul{list-style:circle; margin-left:2em;}
.speedguard-results{width: 100%; margin: 2.6em 0; text-align: center;}
.speedguard-results .result-column{width: 30%; display:inline-block;}
.speedguard-results .result-column .result-numbers {margin:0; font-size:1.6em;}
.speedguard-results .result-column .average{font-weight:bold;font-size:2.2em;}
.speedguard-results .button{margin-top: 2em;}
.ab-top-menu .green a{color:#a9f38a !important; }
.ab-top-menu .yellow  a{color:#f3dc8a !important; }
.ab-top-menu .red  a{color:#f35252 !important; }




.speedguard-score {font-weight: 600; font-size: 1.2em;}
.speedguard-score  .score-green {color:#33a849; margin-left: 0.4em;}
.speedguard-score  .score-yellow {color:#f9d30d; margin-left: 0.4em;}
.speedguard-score  .score-red { color:#e6493a; margin-left: 0.4em;}

#speedguard-about-meta-box #szpic {background-image: url(../images/sabrina.png); height:75px; width:75px; float: right; margin:1em;}

/**Notices**/

